* {
    background-color:aliceblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    display:inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: medium;
}

h1 {
    color: rgb(2, 0, 15);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: medium;
}

p {
    text-align: center;
    color: rgb(2, 0, 15);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: medium;
}
